<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=0,viewport-fit=cover" />
    <title>Yousise</title>
    <meta name="description" content="Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on Yousise. If you like this website, you may also recommend it to your friends. ">
    <meta name="keywords" content="live, blog, content, knowlege, interesting, amusing, emotion, video, sharing, camera phone, video phone, free, upload">
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body>
    <main>
        <div> 
            <div style="color: #900; float: left; width: 100%; clear: both;">
                @each(user in users)
                <p><a href="{{ user.url }}" target="_blank" style="color: #333">{{ user.name }}</a></p>
                @endeach
            </div>
            
            <div>
                @each(anchor in users.getUrlsForRange(1, users.lastPage))
                <a href="{{ anchor.url }}">
                    {{ anchor.page }}
                </a>
                @endeach
            </div>
        </div>
    </main>
</body>

</html>